nav {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
header {
background-color:#333339;
padding: 10px 0;
text-align: center;
}
nav a{ 
color:hwb(0 52% 47%);
text-decoration: none;
padding: 10px 20px;

}

#topImage {
  display:flex;
  flex-direction:row;
  align-items:center;
  padding: 10px;
}
#middleImage {
  margin-left: 30px;
  padding:5px;
}

#bottomImage {
  margin-right:30px;
  margin-bottom: 30px;
  float:left;
padding:10px;
}
section h3 {
  font-weight: bold ;
}
section p{
  margin: 20px;;
  width:400px;
  display:flex;
  flex-direction: column;
 
}
#call {
  background-color: black;
  color: azure;
}

footer {
 position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333339;
  color: white;
  padding: 30px;
}